@use "sass:map";

$breakpoints: (
    mobile: 23.4375em,
    tablet: 48em,
    desktop: 90em
);

@mixin mq($key) {
    $size: map.get($breakpoints, $key);

    @media (min-width: $size) {
        @content;
    }
}